<app-title [botaoListar]="true" [titulo]="'Eventos'" [icone]="'fa fa-calendar-alt'"
    [subtitulo]="'Desenvolvido por Luis'"></app-title>
<div class="card rounded shadow-sm p-3">
    <div class="d-flex ">
        <div class="flex-fill">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Filtro</div>
                </div>
                <input type="text" class="form-control mr-2" placeholder="Buscar por tema e local"
                    [(ngModel)]="filtroLista">
            </div>
        </div>
        <div>
            <a class="d-flex btn btn-outline-primary" href="">
                <em class="fa fa-plus-circle my-1"></em>
                <strong class="mx-1 d-none d-sm-block">Novo</strong>
            </a>
        </div>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th><button type="button" class="btn btn-outline-dark btn-sm" (click)="alterarImagem()">
                        <em class=" {{ !mostrarImagem ?
                        'fa fa-eye' : 'fa fa-eye-slash' }}"></em>
                        {{ mostrarImagem ?
                        'Ocultar' : 'Exibir ícone' }}
                    </button></th>
                <th>#</th>
                <th>Tema</th>
                <th class="d-none d-md-table-cell">Local</th>
                <th>Data</th>
                <th>Qtd Pessoas</th>
                <th>Lote</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody *ngIf="eventos && eventos.length">
            <tr *ngFor="let evento of eventosFiltrados">
                <td><img [collapse]="!mostrarImagem" [isAnimated]="true" src="assets/{{evento.imagemURL}}"
                        alt="Imagem de evento" [style.width.px]="120"></td>
                <td>{{evento.id}}</td>
                <td>{{evento.tema}}</td>
                <td class="d-none d-md-table-cell">{{evento.local}}</td>
                <td>{{evento.dataEvento | date }}</td>
                <td>{{evento.qtdPessoas}}</td>
                <td>{{evento.lote[0].nome}}</td>
                <td><button type="button" class="btn btn-primary btn-sm mr-2" (click)="openModal(template)"><em
                            class="fa fa-edit" tooltip="Editar"></em></button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="openModal(template)"
                        tooltip="Excluir"><em class="fa fa-trash"></em></button>
                </td>
            </tr>
        </tbody>
        <tfoot *ngIf="!eventos.length">
            <tr>
                <td colspan="8" class="text-center">
                    <h4>Nenhum evento encontrado</h4>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<ng-template #template>
    <div class="modal-body text-center">
        <p>Tem certeza que quer deletar este evento?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
        <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
    </div>
</ng-template>